DEPLOY_STAGE = Deployment stage
AWS_REGION = AWS region to deploy CDK app to 
AWS__ACCOUNT_ID = AWS account id
AWS_GITHUB_OIDC_ROLE = AWS GitHub OIDC role to allow github actions to deploy CDK app
# local dev only 
AWS_ACCOUNT_PROFILE =  AWS account profile

JWT_SECRET_KEY = JWT secret key
ZEPTO_MAIL_API_KEY = Zoho ZeptoMail api key
API_DOMAIN_NAME = Domain name for API
PADDLE_API_KEY = Paddle api key
PADDLE_WEBHOOK_SECRET_KEY = Paddle webhook secret key


VAPID_PRIVATE_KEY = VAPID private key for webpush
VAPID_PUBLIC_KEY = VAPID public key for webpush
