# typescript
*.js
!jest.config.js
*.d.ts
node_modules

.npmignore
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
#cdk snapshot test
*.test.ts.snap


.VSCodeCounter
*.VSCodeCounter/*


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
.env.local
.idea

/static/css/style.css
/static/css/style.min.css

/tmp
/bin

# Go test 
*.test
coverage.html   
*.out
coverage/



# Go workspace file
go.work
go.work.sum

# env file
.env
.env.local