name: Deploy to Dev Environment on Pull Request

on:
  pull_request:
    branches: [dev]
  push:
    branches: [dev]

# common env variables
env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
  ZEPTO_MAIL_API_KEY: ${{ secrets.ZEPTO_MAIL_API_KEY }}
  PADDLE_API_KEY: ${{ secrets.PADDLE_API_KEY }}
  PADDLE_WEBHOOK_SECRET_KEY: ${{ secrets.PADDLE_WEBHOOK_SECRET_KEY }}
  VAPID_PRIVATE_KEY: ${{ secrets.VAPID_PRIVATE_KEY }}
  VAPID_PUBLIC_KEY: ${{ secrets.VAPID_PUBLIC_KEY }}
  OIDC_ROLE_NAME: ${{ secrets.AWS_GITHUB_OIDC_ROLE }}

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      setup-cache-key: ${{ steps.setup-cache.outputs.cache-key }}
    steps:
      - uses: actions/checkout@v4

      - name: Generate cache key
        id: setup-cache
        run: echo "cache-key=${{ github.sha }}" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: './go.mod'
          cache: true

      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 8.x

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
          cache-dependency-path: './pnpm-lock.yaml'

      - name: Install dependencies
        run: make install-deps

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            node_modules
          key: ${{ runner.os }}-deps-${{ steps.setup-cache.outputs.cache-key }}

  lint-and-test:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            node_modules
          key: ${{ runner.os }}-deps-${{ needs.setup.outputs.setup-cache-key }}

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v6

        with:
          install-mode: 'goinstall'
      - name: Install testifylint
        run: |
          go install github.com/Antonboom/testifylint@latest

      - name: Run linting
        run: make lint-all

      - name: Run unit tests
        run: make test-unit

      - name: Run integration tests
        run: make test-integration

  deploy-test:
    needs: lint-and-test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: true
    env:
      DEPLOY_STAGE: 'test'
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID_TEST }}
      AWS_ACCOUNT_PROFILE: ${{ secrets.AWS_ACCOUNT_PROFILE_TEST }}

    steps:
      - uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            node_modules
          key: ${{ runner.os }}-deps-${{ needs.setup.outputs.setup-cache-key }}

      - name: Install CDK
        run: |
          pnpm install -g aws-cdk

      # Use the custom AWS configure action
      - uses: ./.github/actions/aws-configure.yml
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-account-id: ${{ env.AWS_ACCOUNT_ID }}
          oidc-role-name: ${{ env.OIDC_ROLE_NAME }}
          aws-account-profile: ${{ env.AWS_ACCOUNT_PROFILE }}

      - name: Run infrastructure tests
        run: make test-infra

      - name: Deploy to test environment
        run: make cdk-deploy-main-no-approval

      - name: Run E2E tests
        run: make test-e2e

      - name: Cleanup test environment
        if: always()
        run: make test-cleanup

  deploy-dev:
    needs: deploy-test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: true
    env:
      DEPLOY_STAGE: 'dev'
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID_DEV }}
      API_DOMAIN_NAME: ${{ secrets.API_DOMAIN_NAME_DEV }}
      AWS_ACCOUNT_PROFILE: ${{ secrets.AWS_ACCOUNT_PROFILE_DEV }}

    steps:
      - uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            node_modules
          key: ${{ runner.os }}-deps-${{ needs.setup.outputs.setup-cache-key }}

      - name: Install CDK
        run: |
          pnpm install -g aws-cdk

      # Use the custom AWS configure action
      - uses: ./.github/actions/aws-configure.yml
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-account-id: ${{ env.AWS_ACCOUNT_ID }}
          oidc-role-name: ${{ env.OIDC_ROLE_NAME }}
          aws-account-profile: ${{ env.AWS_ACCOUNT_PROFILE }}

      - name: Deploy to development environment
        run: make cdk-deploy-main-no-approval
