name: Deploy to Dev Environment on Pull Request

on:
  pull_request:
    branches: [dev]
  push:
    branches: [dev]

# common env variables
env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
  ZEPTO_MAIL_API_KEY: ${{ secrets.ZEPTO_MAIL_API_KEY }}
  PADDLE_API_KEY: ${{ secrets.PADDLE_API_KEY }}
  PADDLE_WEBHOOK_SECRET_KEY: ${{ secrets.PADDLE_WEBHOOK_SECRET_KEY }}
  VAPID_PRIVATE_KEY: ${{ secrets.VAPID_PRIVATE_KEY }}
  VAPID_PUBLIC_KEY: ${{ secrets.VAPID_PUBLIC_KEY }}

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 8.x

      - name: Install dependencies
        run: |
          make install-deps

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v6

        with:
          install-mode: 'goinstall'
      - name: Install testifylint
        run: |
          go install github.com/Antonboom/testifylint@latest

      - name: Run linting
        run: make lint-all

      - name: Run unit tests
        run: make test-unit

      - name: Run integration tests
        run: make test-integration

  deploy-test:
    needs: lint-and-test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: true
    env:
      DEPLOY_STAGE: 'test'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 8.x

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_TEST }}:role/${{ secrets.AWS_GITHUB_OIDC_ROLE_TEST }}

      - name: Install dependencies
        run: |
          make install-deps

      - name: Run infrastructure tests
        run: make test-infra

      - name: Deploy to test environment
        run: make deploy-all
        env:
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID_TEST }}
          AWS_ACCOUNT_PROFILE: ${{ secrets.AWS_ACCOUNT_PROFILE_TEST }}
          DEPLOY_STAGE: 'test'

      - name: Run E2E tests
        run: make test-e2e

      - name: Cleanup test environment
        if: always()
        run: make test-cleanup

  deploy-prod:
    needs: deploy-test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: true
    env:
      DEPLOY_STAGE: 'dev'
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID_DEV }}
      API_DOMAIN_NAME: ${{ secrets.API_DOMAIN_NAME_DEV }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_DEV }}:role/${{ secrets.AWS_GITHUB_OIDC_ROLE_DEV }}

      - name: Install dependencies
        run: |
          make install-deps

      - name: Deploy to development environment
        run: make deploy-all
        env:
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID_DEV }}
          API_DOMAIN_NAME: ${{ secrets.API_DOMAIN_NAME_DEV }}
